.grid-header{
    display: flex;
    align-items: center;
}


.add-container{
    margin: 0px 5px;
}

.table-container{
    width: 100%;
    text-align: left;
    font-size: 17px;
    border-collapse: collapse;
}

.table-container th,td{
    border-bottom: 1px solid #7E7E7E;
    margin: 0px;
    border-spacing: 0px;
    padding: 10px;
}
.table-container tr td:last-child{
    display: flex;
    justify-content: left;
    align-items: center;
}



