.container-addwebsite{
    display: flex;
    justify-content: center;
}

.btn-addwebsite{
    margin-top: 10px ;
    padding: 5px;
    font-size: large;
    width: 80px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}