.grid-nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #222222;
    padding: 10px;
    
}
.nav-title{
    text-align: center;
}

.nav-list-links{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin: 0px;
    cursor:pointer;

}
.nav-list-links li{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
}
.nav-list-links :hover{
    background-color: rgb(72, 71, 71);
}
.nav-list-links li h2{
    font-weight: lighter;
    text-decoration: none;
}
.nav-list-links  li h2 a{
    color: white;
    text-decoration: none;
}
.menu-icon{
    font-size: 45px;
    margin: 10px;
}
.info-account{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.account-icon{
    font-size: 45px;
}
.info-account button{
    height: 35px;
    padding: 10px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    
}