.grid-nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #222222;
    padding: 10px;
    
}
.nav-title{
    text-align: center;
}

.link{
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}
.link h2{
    font-weight: lighter;
}
.link:hover{
    background-color: rgb(72, 71, 71);
}
.menu-icon{
    font-size: 40px;
    margin: 0 10px;
}

.info-account{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.account-icon{
    font-size: 40px;
}
.info-account button{
    height: 35px;
    padding: 10px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    
}