.search-container{
    display: flex;
    align-items: center;
    margin-left: auto;

}

.search-container input{
    background-color: #2C2C2C;
    border: rgb(102, 97, 97) solid 1px;
    border-radius: 10px;
    color: white;
    height: 37px;
    margin: 0px 5px;
    width: 80%;
}
.search-container button{
   background-color: transparent;
   margin: 0px 5px;
   border: none;
   cursor:pointer;
   display: flex;
   align-items: center;
}
.search-icon{
    font-size: 30px;
    color: white;
}